@page
@model LegalEntityModel
@{
    ViewData["Title"] = "Юридична особа";
    ViewData["ActivePage"] = ManageNavPages.LegalEntity;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.IsLegalEntity"></label>
                <input asp-for="Input.IsLegalEntity" style="display: inline-block; width: auto; height: auto; margin-left: 10px;" type="checkbox" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.OrganizationName"></label>
                <input asp-for="Input.OrganizationName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.LegalEntityID"></label>
                <input asp-for="Input.LegalEntityID" class="form-control" />
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Зберегти</button>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}